<a href="index3.html" class="brand-link">
    <%= image_tag("pmq_white.png", alt: "PAYMEQUICK Logo", class: "brand-image img-circle elevation-3", style: "opacity: .8") %>
    <span class="brand-text font-weight-light">PAYMEQUICK</span>
</a>