<div class="row">
	<div class="col-12">
		<p class="text-center">
            Aucuns comptes trouvé
            <br > <br > <br >
            <%= link_to p_parameters_accounts_path, class: 'btn btn-outline-secondary' do %>
                <i class="fa fa-plus"></i>
                Ajouter un compte
            <% end %>
        </p>
	</div>	
</div>